{% assign app_type = page.category %}
{% assign pages = site.applications | sort:"weight"  %}
{% for application in pages %}
  {% if application.category == app_type %}
    {% if application.url == page.url %}
    {% else %}

    <div class="practice-item">
      <h2><a class="post-link" href="{{site.baseurl}}{{ application.url }}">{{ application.element }}</a></h2>
      <label for="lc-range">Mixer Intensity</label>
      <input type="range" name="lc-range" min="-1" max="5" step="1" value="{{ application.mixer }}" disabled="disabled">
      <label>Features:</label>
      <p>{{ application.features }}</p>
      <label>Description:</label>
      <p>{{ application.description | markdownify }}</p>
      {% for item in application.taster-video %}
      <label>Taster Video:</label>
      {% capture taster-id %}{{ application.taster-video }}{% endcapture %}
      {% include youtubePlayer.html id=taster-id %}
      {% endfor %}

      {% if application.taster-image != nil %}
      <label>Example: </label><br/>
      <img src="{{ site.baseurl}}/images/practices/{{ application.taster-image }}" alt="{{ application.element }} example image" class="u-full-width">
      {% endif %}

      {% if application.taster-gallery != nil %}
      <label>Gallery: </label><br/>
      {% include swiper-case.html %}
      {% endif %}

      <label>Strategies:</label>
      <p>{% for item in application.strategies | split: ',' | sort  %}
        <a href="{{ site.baseurl }}/strategies/{{ item | slugify }}.html">{{ item }}</a>{% unless forloop.last %},{% endunless %}
      {% endfor %}</p>

      {% if application.more != false %}
      <a href="{{ site.baseurl }}{{ application.url }}" class="button u-full-width flex-bottom sml-margin-top">Read More...</a>
      {% endif %}

    </div>


    {% endif %}
  {% endif %}
{% endfor %}

<script src='{{ site.baseurl}}/js/jquery.min.js'></script>
<script src='{{ site.baseurl}}/js/rangeslider.min.js'></script>
<script src='{{ site.baseurl}}/js/underscore-min.js'></script>
<script src="{{ site.baseurl}}/js/ranger.js"></script>
