<footer class="site-footer">
    
<div class="container">
<h3>Contact {{ site.title }}</h3>
<div class="row center-it">
    <a href="https://twitter.com/{{ site.twitter_username }}"><img src="images/twitter.png" class="social-icons"></a>
    <img src="images/facebook.png" class="social-icons">
    <img src="images/insta.png" class="social-icons">
    <img src="images/youtube.png" class="social-icons">
    </div>

<h4>... Or send us an email now</h4>    
    <div class="row">
    <div class="six columns">
    <label for="exampleNameInput">Your Name</label>
    <input class="u-full-width" type="text" placeholder="Christian Surname"id="exampleNameInput">
    </div>
    <div class="six columns">
      <label for="exampleEmailInput">Your Email</label>
      <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="exampleEmailInput">
    </div>

   </div>
    <label for="exampleMessage">Message</label>
  <textarea class="u-full-width" placeholder="Hi CSULX …" id="exampleMessage"></textarea>
  <label class="example-send-yourself-copy">
    <input type="checkbox">
    <span class="label-body">Send a copy to yourself</span>
  </label>
  <input class="button-primary u-full-width" type="submit" value="Submit">
    </div>    
    

</footer>
