<footer class="grey-bg extra-padding">
  <div class="container white row-flex">
    <div class="csulx">
      <img src="{{ site.baseurl }}/images/word-mark-text.png" height="100%" class="u-full-width" alt="CSU Learning Exchange Logo">
    </div>
    <div class="column-vertical center extra-padding blurb">
      <p class="text">Developed and Maintained by <a href="http://www.csu.edu.au">Charles Sturt University's</a> <a href="http://www.uimagine.edu.au">u!magine</a></p>
      <p class="text">Find out more <a href="{{ site.baseurl }}/about.html">About the Project</a></p>
    </div>
    <div class="csulogo">
      <a href="http://www.csu.edu.au"><img src="{{ site.baseurl }}/images/csu-logo.png" height="100%" class="u-full-width" alt="CSU Logo"></a>
    </div>
  </div>
</footer>
