<footer class="grey-bg extra-padding">
<div class="container white row-flex">    

<div class="two columns">
    <img src="{{ site.baseurl }}/images/word-mark-text.png" height="100%" class="u-full-width">
</div>
    
<div class="seven columns column-vertical">
        <p class="text">{{ site.description }}</p>
</div>
    
<div class="three columns">
    <a href="http://www.csu.edu.au"><img src="{{ site.baseurl }}/images/csu-logo.png" height="100%" class="u-full-width"></a>
</div>
    
    
</div>
</footer>
