<label for="LCmix">Learning Communities</label>
  <input
    type="range"
    name="lc-range"
    min="-1"
    max="5"
    step="1"
    value="{{ page.LCmix }}"
    disabled="disabled">
<label for="TPmix">Interaction Between Students</label>
  <input
    type="range"
    name="ibs-range"
    min="-1"
    max="5"
    step="1"
    value="{{ page.IBSmix }}"
    disabled="disabled">
<label for="TPmix">Teacher Presence</label>
  <input
    type="range"
    name="tp-range"
    min="-1"
    max="5"
    step="1"
    value="{{ page.TPmix }}"
    disabled="disabled">

<label for="panel_size">Interaction With the Professions</label>
  <input
    type="range"
    name="iwp-range"
    min="-1"
    max="5"
    step="1"
    value="{{ page.IWPmix }}"
    disabled="disabled">
<label for="panel_size">Flexible & Adaptive Learning</label>
  <input
    type="range"
    name="fal-range"
    min="-1"
    max="5"
    step="1"
    value="{{ page.FALmix }}"
    disabled="disabled">
<label for="panel_size">Interactive Resources</label>
  <input
    type="range"
    name="ir-range"
    min="-1"
    max="5"
    step="1"
    value="{{ page.IRmix }}"
    disabled="disabled">
<label for="panel_size">E-Assessment</label>
  <input
    type="range"
    name="ea-range"
    min="-1"
    max="5"
    step="1"
    value="{{ page.EAmix }}"
    disabled="disabled">
</div>
