<div id="thing" class="row u-release extra-padding">

  <div class="mixer" onclick="">
    <div class="level-head orange-bg">
      <div class="hcol grey-bg"><h4>&nbsp;</h4></div>
      <div class="headings" title="Learning Communities">
        <img src="../images/lc-rev.png" class="img-head u-half-width" alt="Learning Communities Icon">
        <h3>Learning Communities</h3>
      </div>
      <div class="headings" title="Interaction between Students">
        <img src="../images/ibs-rev.png" class="img-head u-half-width" alt="Interaction between Students Icon">
        <h3>Interaction between Students</h3>
      </div>
      <div class="headings" title="Teacher Presence">
        <img src="../images/tp-rev.png" class="img-head u-half-width" alt="Teacher Presence Icon">
        <h3>Teacher Presence</h3>
      </div>
      <div class="headings" title="interaction with the Professions">
        <img src="../images/iwp-rev.png" class="img-head u-half-width" alt="Interaction with the Professions Icon">
        <h3>Interaction with the Professions</h3>
      </div>
      <div class="headings" title="Flexible &amp; Adaptive Learning">
        <img src="../images/fal-rev.png" class="img-head u-half-width" alt="Flexible & Adaptive Learning Icon">
        <h3>Flexible &amp; Adaptive Learning</h3>
      </div>
      <div class="headings" title="Interactive Resources">
        <img src="../images/ir-rev.png" class="img-head u-half-width" alt="Interactive Resources Icon">
        <h3>Interactive Resources</h3>
      </div>
      <div class="headings" title="e-Assessment">
        <img src="../images/ea-rev.png" class="img-head u-half-width" alt="e-Assessment Icon">
        <h3>e-Assessment</h3>
      </div>
    </div>
    <div class="level gradient-blue">
      <div class="hcol"><h4>light</h4></div>
      <div class="col" title="Learning Communities">
        <h4>Establishing community</h4>
        <p>Proactive work by the teacher to orient students to the environment and have them introduce themselves to each other and share their location, interests, or subject goals. Designed activities where students respond to each other’s shared photos,
          videos, or written reflections. Forums structured and named to invite participation.</p>
      </div>
      <div class="col" title="Interaction between Students">
        <h4>Active scaffolded discussion</h4>
        <p>An active Discussion Board with clear communication protocols is established. Specific forums are created for assessments and topic areas for students to use and prompts are provided to students throughout learning content to encourage student
          contributions. These focus questions provide opportunities for students to share their experiences, knowledge and perspectives in an open dialogue.</p>
      </div>
      <div class="col" title="Teacher Presence">
        <h4>Established teacher Identity</h4>
        <p>Students are made aware of the teacher by clearly establishing their identity. The subject landing page introduces both the teacher and the subject in text, photos or video and includes clear information on channels of communication and contact.
          Throughout the sessions the teacher is responsive to forum postings, email and other contacts from students. Announcements throughout the session ensure students are aware of ongoing engagement and provide a simple way for responding to the
          class. Providing ample feedback on assessment items and timely responses to students’ online questions and comments ensure students know they are engaged with an active teacher.</p>
      </div>
      <div class="col" title="interaction with the Professions">
        <h4>Professional contexts &amp; linkages</h4>
        <p>Examples of professional contexts are highlighted in the subject. Learning tasks and assessments are linked to the development of professional knowledge and skills using case study examples, practical and tutorial classes and video resources.
          These tasks require students to draw on and reflect upon their experiences.</p>
      </div>
      <div class="col" title="Flexible &amp; Adaptive Learning">
        <h4>Reflective Design</h4>
        <p>Between teaching sessions, student and peer feedback, along with evidence of student learning behaviours through analytics are used to evaluate learning and teaching designs, strategies and resources. This leads to a continual improvement process
          to align the learning delivered experiences with students’ learning needs. To allow students to progress at their own pace if they wish to, all materials are available at the beginning of the session and synchronous meetings are recorded to
          allow asynchronous access.</p>
      </div>
      <div class="col" title="Interactive Resources">
        <h4>Curating &amp; repurposing media resources</h4>
        <p>High quality, existing, rich media resources are carefully incorporated and integrated throughout the subject materials in ways that complement the text and provide different perspectives, explanations and examples of practice. Using a range of
          media types within subject content can provide flexibility in the ways in which students consume and interact with content and can support different learning styles and preferences.</p>
      </div>
      <div class="col" title="e-Assessment">
        <h4>Tests &amp; quizzes</h4>
        <p>The use of online tests, quizzing tools and interactive technologies for formative and summative assessment. Students can use these tools to gauge their emerging understanding of content and conceptual ideas. The addition of online invigilation
          provides new opportunities for eExams to be conducted. These online exams can provide improved flexibility, marking turn around and opportunities for more authentic examination tasks.</p>
      </div>
    </div>
    <div class="level gradient-pink">
      <div class="hcol"><h4>&nbsp;</h4></div>
      <div class="col" title="Learning Communities">
        <h4>Online Study Groups</h4>
        <p>Formation of supported online study groups allowing students to regularly engage with each other around subject content and assessment. Tailoring of the online environment to help study groups to meet and discuss ideas synchronously or asynchronously.
          Content and activities can be structured for group engagement throughout the session.</p>
      </div>
      <div class="col" title="Interaction between Students">
        <h4>Shared Reflective Dialogue</h4>
        <p>Students actively create content to reflect and share their practices through a variety of digital mediums and online tools, with the specific aim to develop ongoing dialogue. Online journals and blogs allow students to comment on each other's
          work and provide feedback. Reflective practice could also extend to rich media and include video or audio recordings.</p>
      </div>
      <div class="col" title="Teacher Presence">
        <h4>Establish Effective Communication</h4>
        <p>Clear communication channels are established between teacher and students that allow for ongoing dialogue throughout the session. The tone of communication shows an interest in students’ success and conveys that the teacher is approachable. Video
          and audio introductions to the subject and key areas of focus, like each assessment task, provide a way to engage with students, discuss issues and give feedback to the class as a whole. Synchronous sessions provide a way for students to discuss
          their learning experiences. Regular (weekly or fortnightly) contact and updates encourage students and help establish a rhythm to the subject.</p>
      </div>
      <div class="col" title="interaction with the Professions">
        <h4>Professional practices &amp; cultural contexts</h4>
        <p>Professional contexts are integrated into the subject so that learning activities , including assessment tasks are linked to the development of professional knowledge and skills. Students are developing a professional approach to their practice
          as well as developing their professional identity within low risk learning environments. Students increasingly produce work and demonstrate skills that are at a professional level. Professionals are invited to synchronous meetings and provide
          guest lectures shared asynchronously.</p>
      </div>
      <div class="col" title="Flexible &amp; Adaptive Learning">
        <h4>Design for flexibility</h4>
        <p>Learning resources may be provided in response to the identified needs of a student cohort. Personalised support processes can be developed using data that helps connect students with university support services. To enable students to study offline,
          all core materials are enabled to be downloaded to a device. Accessible design strategies are available to cater for special-needs students.</p>
      </div>
      <div class="col" title="Interactive Resources">
        <h4>Commissioning &amp; creating media resources</h4>
        <p>Video, audio, diagrammatic, photographic and multimedia resources are developed by academic staff in collaboration with media specialists for the specific needs of the subject and used to contextualise information and complement textual content.
          These resources can be generated at the time of need in response to online discussions, student questions, and contemporary events. Authentic learning products created by students as part of learning activities can also be a source of resources
          for future sessions.</p>
      </div>
      <div class="col" title="e-Assessment">
        <h4>Creating rich media artefacts</h4>
        <p>Students take advantage of digital technologies to create rich media artefacts for their assessment that go beyond text and are sharable using online platforms. Tasks can be structured around authentic professional tasks that go beyond the traditional
          academic essay and require students to produce videos and presentations, communicate research, or synthesize and explain complex theories in forms they’ll utilise as professionals. Using online marking tools, feedback can also be provided as
          rich media elements.</p>
      </div>
    </div>
    <div class="level gradient-purple">
      <div class="hcol"><h4>&nbsp;</h4></div>
      <div class="col" title="Learning Communities">
        <h4>Sub cohort teaching</h4>
        <p>A large cohort is divided into smaller sub cohorts and each group is facilitated by a staff member who guides the community building, provides formative feedback, moderates the discussion forums and is responsible for the marking of summative
          assessment tasks.</p>
      </div>
      <div class="col" title="Interaction between Students">
        <h4>Collaborative learning tasks</h4>
        <p>Collaborative learning tasks require students to work together towards the creation of learning products and authentic professional artefacts. Within this collaborative practice students engage in deep conceptual and professional dialogue with
          their peers.</p>
      </div>
      <div class="col" title="Teacher Presence">
        <h4>Support for shared experiences</h4>
        <p>An ongoing narrative is developed throughout the subject and a clear online teacher persona helps to establish an environment that reassures and supports students. Relevant experiences are shared through video and interactions throughout the subject
          to help humanise the content. This process reduces the ‘psychological distance’ and develops a sense of community.</p>
      </div>
      <div class="col" title="interaction with the Professions">
        <h4>Authentic professional learning</h4>
        <p>Authentic activities focus on developing the skills, knowledge and attitudes necessary for the profession. They are aligned and scaffolded to enable student learning and to complete assessment tasks in workplace and/or professional contexts. Students
          are developing a professional identity, critical reflective practices, applying theory to practice. Students may visit workplaces (in person or virtually) or shadow professionals in the workplace.</p>
      </div>
      <div class="col" title="Flexible &amp; Adaptive Learning">
        <h4>Learner orientated </h4>
        <p>Active use of analytics, communication, discussions and student feedback to support student learning in real-time and in targeted ways. Evidence-based interventions and feedback is provided and designed to increase the likelihood of learner success.
          Personalised learning opportunities can be presented through assessment tasks that allow students to draw on personal and professional interests or expertise. The adaptive release of materials based on student performance can fill gaps in students'
          knowledge and understanding or offer students extension opportunities.</p>
      </div>
      <div class="col" title="Interactive Resources">
        <h4>Resources as a platform for engagement</h4>
        <p>Resources representing realistic contexts and professional practices are used to provide a context for engagement within authentic learning activities or assessment tasks. These activities could include role-play, problem-based learning or critical
          reflection drawing upon example cases illustrated through photographic, audio or video resources. Such tasks can be enhanced through peer feedback, discussion or online collaboration.</p>
      </div>
      <div class="col" title="e-Assessment">
        <h4>Peer feedback</h4>
        <p>Peer feedback on online journals, portfolios and digital objects can support student interaction and foster learning communities as well as the development of critical reflective practices. These tasks can also extend beyond text with responses
          and interaction utilising rich media like video and audio.</p>
      </div>
    </div>
    <div class="level gradient-orange">
      <div class="hcol"><h4>&nbsp;</h4></div>
      <div class="col" title="Learning Communities">
        <h4>Project based learning design</h4>
        <p>Project based learning where students work together throughout the subject as a collaborative group. Groups meet autonomously and share responsibilities as they work towards the co-creation of authentic real world artefacts. Group members can
          take on complementary professional roles.</p>
      </div>
      <div class="col" title="Interaction between Students">
        <h4>Learning cooperatively</h4>
        <p>Cooperative learning provides a structure through which students are required to undertake complementary learning activities which collectively lead to the achievement of shared learning goals. Students take responsibility for engaging with specific
          ideas and content and then share their developing understandings with the group.</p>
      </div>
      <div class="col" title="Teacher Presence">
        <h4>Responsive teaching</h4>
        <p>Ongoing evaluation of student learning needs. New content or new facilitation strategies are introduced when needed in response to student learning activities recorded in analytics, and/or student perspectives provided through quick surveys or
          forum postings. Students have a sense of being in a learning community with the teacher and that their learning is being enhanced by the group.</p>
      </div>
      <div class="col" title="Interaction with the Professions">
        <h4>Engagement with the professions</h4>
        <p>Students engage with the professions through workplace learning experiences or mentoring arrangements. Learning experiences and assignments are aligned to the workplace and/or professional contexts to ensure purposeful implementation of knowledge,
          skills and practice. A supportive connection between CSU, the student and partner is established before the placement (or other WPL experience) and maintained during and after its conclusion. Students are integrated into the complex and holistic
          aspects of the profession, developing inter-professional skills, personal ownership of their professional identity and critically reflecting on their own practice.</p>
      </div>
      <div class="col" title="Flexible &amp; Adaptive Learning">
        <h4>Responsive by design</h4>
        <p>Teaching approaches and activities are designed to be responsive to student behaviour and demonstrated knowledge. This flexible approach acknowledges that some cohorts of students can be quite diverse and that a one size fits all approach will
          not work. Utilising early data and adaptive learning systems or resources, the teacher can adjust content and experiences dynamically in order to meet the needs of a range of students.</p>
      </div>
      <div class="col" title="Interactive Resources">
        <h4>Interactive &amp; adaptive resources</h4>
        <p>Adaptive learning resources allow students to interactively engage with conceptual content using personalised pathways that suit their learning needs. As students engage with simulated or rich media material, they undertake formative assessment
          activities which lead to adaptive presentation of content chosen to help consolidate learning or address emergent misconceptions. These learning activities can also be enhanced by the inclusion of options for shared reflection and discussion.</p>
      </div>
      <div class="col" title="e-Assessment">
        <h4>Contributing to real world resources</h4>
        <p>Participatory assessment tasks require students to contribute to the production of an artefact or body of work that can be used by others. This kind of activity is enhanced significantly with online tools as students can access real-time communication
          and work together using collaborative authoring tools. These tasks can be made collaborative to extend to the co-construction of authentic rich media artefacts and learning resources that can be shared and reused.</p>
      </div>
    </div>
    <div class="level gradient-red">
      <div class="hcol"><h4>Intense</h4></div>
      <div class="col" title="Learning Communities">
        <h4>Networked communities</h4>
        <p>Groups are reconceptualised as a network or collective of learning. Self-organised groups are created based on automated triggers or in response to the students own needs. These groups are porous and allow the community to extend beyond the class,
          often engaging with the profession and external peers. Tasks are often co-operative in nature requiring students to work together to produce their own unique output, or collaborative where students work together to co-create unique output.</p>
      </div>
      <div class="col" title="Interaction between Students">
        <h4>Communities of practice</h4>
        <p>Communities of practice are developed by students and teachers working together to engage in ways relevant to content, current issues and future professional practice. This can be achieved through the co-creation of authentic learning products
          where students contribute to the development of learning resources and study aids that develop their research skills and experience. Cooperative and collaborative inquiry-based or problem-based learning activities and assessment tasks are strategically
          designed to facilitate student interaction, leadership and shared resources with the aim of fostering skills, habits and attitudes for lifelong learning.</p>
      </div>
      <div class="col" title="Teacher Presence">
        <h4>Model online practice</h4>
        <p>The actions, communications and persona of the teacher encourage students to develop their own online persona and social presence in interactions with their fellow learners. Ensuring responsiveness to enquiries, assistance to difficulties and
          sharing pertinent information, modelling the kinds of practices that students should reflect in their own online practices. The tone and structure of the learning environment foster student led learning</p>
      </div>
      <div class="col" title="interaction with the Professions">
        <h4>Novice professionals</h4>
        <p>Students become part of communities of practice as novice professionals. They become agents of change and develop collaborative partnerships. Student learning is embedded in professional situations with real time support by CSU, promoting a self-directed
          and negotiated learning experience. Academic and professional staff also become part of a wider professional community of practice through shared projects and collaborative activities.</p>
      </div>
      <div class="col" title="Flexible &amp; Adaptive Learning">
        <h4>Personalised by design</h4>
        <p>This approach to personalised learning begins with the availability of dynamic learning pathways from the outset. Content, assessments, pace and even the timing of the subject is able to be adapted to suit the student. It allows the students to
          proceed at their own pace through differentiated or individualised pathways based on their demonstration of knowledge and competency.</p>
      </div>
      <div class="col" title="Interactive Resources">
        <h4>Immersive learning resources</h4>
        <p>Immersive learning resources can allow students to explore and interact within a simulated, virtual or game-based context. Such resources can be modelled on realistic authentic contexts and allow students to undertake simulated professional practices.
          These resources expose students to open-ended learning experiences where they can develop their professional capabilities in a safe environment. Students also benefit from explicit reflection on their practice and professional decision making
          and from engagement with their peers during and after undertaking simulated tasks, which can lead to follow up exploration of issues and problems beyond those generated by the resources themselves.</p>
      </div>
      <div class="col" title="e-Assessment">
        <h4>Adaptive assessment</h4>
        <p>Assessments offer a range of personalised and adaptive options to provide flexibility in content focus and timing. Students receive real-time feedback in the context of authentic real world activities and are able to choose pathways aligned with
          their demonstrated competencies and stages of learning. Adaptive assessment tasks can include simulated tasks in immersive environments, such as virtual laboratories or virtual sites, aimed at developing professional capabilities. </p>
      </div>
    </div>
  </div>
</div>
