<div class="u-release trans gradient-pink extra-padding">
    <div class="container">
        <h4 class="white center">Explore the Elements in more detail</h4>
            <div class="row tile-icons" align="center">
                <div class="tiles"><a href="{{ site.baseurl }}/model/learning-communities.html"><img src="../images/lc-rev.png" class="u-full-width" alt="Learning Communities Icon"><h4>Learning Communities</h4></a></div>
                <div class="tiles"><a href="{{ site.baseurl }}/model/interaction-students.html"><img src="../images/ibs-rev.png" class="u-full-width" alt="Interaction Between Students Icon"><h4>Interaction Between Students</h4></a></div>
                <div class="tiles"><a href="{{ site.baseurl }}/model/teacher-presence.html"><img src="../images/tp-rev.png" class="u-full-width" alt="Teacher Presence Icon"><h4>Teacher Presence</h4></a></div>
                <div class="tiles"><a href="{{ site.baseurl }}/model/interaction-professions.html"><img src="../images/iwp-rev.png" class="u-full-width" alt="Interaction With The Professions Icon"><h4>Interaction With The Professions</h4></a></div>
                <div class="tiles"><a href="{{ site.baseurl }}/model/flexible-adaptive.html"><img src="../images/fal-rev.png" class="u-full-width" alt="Flexible & Adaptive Learning Icon"><h4>Flexible & Adaptive Learning</h4></a></div>
                <div class="tiles"><a href="{{ site.baseurl }}/model/interactive-resources.html"><img src="../images/ir-rev.png" class="u-full-width" alt="Interactive Resources Icon"><h4>Interactive Resources</h4></a></div>
                <div class="tiles"><a href="{{ site.baseurl }}/model/e-assessment.html"><img src="../images/ea-rev.png" class="u-full-width" alt="E-Assessment Icon"><h4>E-Assessment</h4></a></div>
            </div>
    </div>
</div>
