// APA Styles
//==========================================================================

.apa,.apa ul,.apa ol,.apa dl,.ref-apa,.ref-apa ul,.ref-apa ol,.ref-apa dl,.apa-ref,.apa-ref ul,.apa-ref ol,.apa-ref dl,.refapa,.refapa ul,.refapa ol,.refapa dl,.aparef,.aparef ul,.aparef ol,.aparef dl {
    padding-left:0; margin-left:0; font-size: .75rem;}


.apa li,.ref-apa li,.refapa li,.apa-ref li,.aparef li

{list-style-type:none;}


.apa p,.apa li,.apa dd,.ref-apa p,.ref-apa li,.ref-apa dd,.refapa p,.refapa li,.refapa dd,.apa-ref p,.apa-ref li,.apa-ref dd,.aparef p,.aparef li,.aparef dd {
    margin-left:2em;
    text-indent:-2em;
    margin-top:1em;
    margin-bottom:1em;
}
