// Cards
// Use Cards to provide a different way of displaying content. The cards-grid is the container elements, and the each card can contain your information. first-of-type create a feature of the first card displayed. Using this selector works well for loops - for and if - content without having to extract or set up value for latest item.

.card-grid {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2.5rem;
}

.cards {
  background: rgba(240, 240, 240, 1);
  box-shadow: 0 .5em .5em 0 $lx-transblack;
  flex-grow: 1;
  margin: .5em;
  padding: 1em;
  width: 44%;
}

.dark {
  background: $lx-dark-grey;
  color: $lx-white;
  transition: .3s ease-out;
}

.dark:hover {
  background-color: lighten($lx-dark-grey, 10%) !important;
  transition: .3s ease-out;
}

//.cards:first-of-type {
//    max-width: 100%;
//    width: 100%;
//    border-left: 2em solid $primary-color;
//}

.cards:hover {
  background: $lx-white;
  box-shadow: 0 1em 2em .5em $lx-transblack;
  transition: .3s ease-out;
}

.cards h2 {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5em;
  flex-basis: 100%;
}

.cards a {
    text-decoration: none;
}

.cards label {
  flex-basis: 100%;
}

.cards p {
  flex-basis: 100%;
}
