// Code
//==========================================================================

code {
  background: lighten($light-grey, 6.4%);
  border: 1px solid $light-grey;
  border-radius: $global-radius;
  font-size: 90%;
  margin: 0 .2rem;
  padding: .2rem .5rem;
  white-space: nowrap;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}
