.orange-bg {
    background-color: $lx-orange;    
    }    

.pink-bg {
    background-color: $lx-pink;    
    }

.purple-bg {
    background-color: $lx-purple;   
    } 

.blue-bg {
    background-color: $lx-blue;    
    }   

.grey-bg  {
    background-color: $lx-dark-grey;    
    }    

.orange {
    color: $lx-orange;    
    }    

.pink {
    color: $lx-pink;    
    }

.purple {
    color: $lx-purple;   
    } 

.blue {
    color: $lx-blue;    
    }   

.grey  {
    color: $lx-dark-grey;    
    } 

.white  {
    color: $lx-white;    
    } 

.gradient-blue {
    background: linear-gradient(0deg, #333333, #00afd8);
    } 
.gradient-pink {
    background: linear-gradient(0deg, #00afd8, #d71f85);
    }    
.gradient-purple {
    background: linear-gradient(0deg, #d71f85, #cb0044);
    }
.gradient-orange {
    background: linear-gradient(0deg, #cb0044, #ff5800);
    } 
.gradient-red {
    background: linear-gradient(0deg, #ff5800, #E31B23);
    }
    