.orange-bg {
    background-color: $lx-orange;    
    }    

.pink-bg {
    background-color: $lx-pink;    
    }

.purple-bg {
    background-color: $lx-purple;   
    } 

.blue-bg {
    background-color: $lx-blue;    
    }   

.grey-bg  {
    background-color: $lx-dark-grey;    
    }    

.orange {
    color: $lx-orange;    
    }    

.pink {
    color: $lx-pink;    
    }

.purple {
    color: $lx-purple;   
    } 

.blue {
    color: $lx-blue;    
    }   

.grey  {
    color: $lx-dark-grey;    
    } 

.white {color: $lx-white;} 

.gradient-blue {
    background: $gradient-blue;
    } 
.gradient-pink {
    background: $gradient-pink;
    }    
.gradient-purple {
    background: $gradient-purple;
    }
.gradient-orange {background: $gradient-orange;} 

.gradient-red {background: $gradient-red;}
    