.element-heading {
    color: $lx-dark-grey;
    margin: -1.5em 0em 1em 0em;
    padding: 0.5em;
    line-height: 0.8em
}

.element-heading img {
    vertical-align: middle;
}

.element-sub {
    background: $gradient-light-grey;
    color: $lx-dark-grey;
    padding: 1em 0em 9em 1em;
    font-size: .9em;
    margin: -.5em 0em 1em 0em;
}



.element-sub ul {
  list-style: none !important;
  margin: 0px 0px;
  padding: 0;
}

.element-sub li{
    margin: 0px 0px;
    box-sizing: border-box;
    text-transform:uppercase;
    display: block;
    padding: 0.5em;
    border-bottom: 1px solid rgba(255,255,255,.5);
}

.element-sub a {
  color: $lx-orange;
  text-decoration: none;
}

.element-sub a:hover {
    color: $lx-pink;
}

.active-item {
    font-weight: bold;
}