// Hero Image
//==========================================================================

.hero {
    overflow: hidden;
    position: relative;
    display: inline-block;
    min-height: 300px;
    max-height: 500px;
    width: 100vw;
}

.hero:after {
    content:'';
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: rgba(0,0,0,0.6);
    opacity: 0.8;
}

.hero h1 {
    color: #fff;
    padding: 10px;
    margin-bottom: 0px;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 0%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 51;
}

.hero img {
    padding-top: 0;
    display: block;
    width: 100vw;
}

// Hero Gradients

.h-gradient-blue { background: center center no-repeat, $gradient-blue; }
.h-gradient-pink { background: center center no-repeat, $gradient-pink; }
.h-gradient-purple { background: center center no-repeat, $gradient-purple; }
.h-gradient-orange { background: center center no-repeat, $gradient-orange; }
.h-gradient-red { background: center center no-repeat, $gradient-red; }
.h-gradient-dark { background: center center no-repeat, $dark-gradient; }
.h-gradient-palette { background: center center no-repeat, $gradient-palette; }
.h-gradient-light-grey { background: center center no-repeat, $gradient-light-grey; }
.h-gradient-vertical { background: center center no-repeat, $gradient-vertical; }
.h-gradient-horizontal { background: center center no-repeat, $gradient-horizontal; }

// Hero Images on Pages
//-------------------------------------------------


.ea-image {
    background: url(../images/ea-rev.png) center center no-repeat, $gradient-red;
    background-size: contain;
}

.fal-image {
    background: url(../images/fal-rev.png) center center no-repeat, $gradient-red;
    background-size: contain;
}
.ibs-image {
    background: url(../images/ibs-rev.png) center center no-repeat, $gradient-red;
    background-size: contain;
}

.ir-image {
    background: url(../images/ir-rev.png) center center no-repeat, $gradient-red;
    background-size: contain;
}

.iwp-image {
    background: url(../images/iwp-rev.png) center center no-repeat, $gradient-red;
    background-size: contain;
}

.lc-image {
    background: url(../images/lc-rev.png) center center no-repeat, $gradient-red;
    background-size: contain;
}

.tp-image {
    background: url(../images/tp-rev.png) center center no-repeat, $gradient-red;
    background-size: contain;
}

.qlt9-image {
    background: url(../images/qlt9-rev.png) center center no-repeat, $gradient-red;
    background-size: contain;
}

.qlt11-image {
    background: url(../images/qlt11-rev.png) center center no-repeat, $gradient-red;
    background-size: contain;
}

.qlt12-image {
    background: url(../images/qlt12-rev.png) center center no-repeat, $gradient-red;
    background-size: contain;
}

.mixer-image {
    background: url(../images/mixer-header.jpg) center center no-repeat;
    background-size: cover;
}

.group-image {
    background: url(../images/index-image.jpg) center top no-repeat;
    background-size: cover;
}

.search-image {
    background: url(../images/search-rev.png) center center no-repeat, $gradient-purple;
    background-size: contain;
}
