// Hero Image
//==========================================================================

.hero {
  display: inline-block;
  max-height: 500px;
  min-height: 300px;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.hero:after {
  background: rgba(0,0,0,0.6);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: .8;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.hero h1 {
  color: $lx-white;
  height: 0%;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 1rem;
  width: 100%;
  z-index: 51;
}

.hero img {
  display: block;
  padding-top: 0;
  width: 100vw;
}

// Hero Gradients

.h-gradient-blue { background: center center no-repeat, $gradient-blue; }
.h-gradient-pink { background: center center no-repeat, $gradient-pink; }
.h-gradient-purple { background: center center no-repeat, $gradient-purple; }
.h-gradient-orange { background: center center no-repeat, $gradient-orange; }
.h-gradient-red { background: center center no-repeat, $gradient-red; }
.h-gradient-dark { background: center center no-repeat, $dark-gradient; }
.h-gradient-palette { background: center center no-repeat, $gradient-palette; }
.h-gradient-light-grey { background: center center no-repeat, $gradient-light-grey; }
.h-gradient-vertical { background: center center no-repeat, $gradient-vertical; }
.h-gradient-horizontal { background: center center no-repeat, $gradient-horizontal; }

// Hero Images on Pages
//-------------------------------------------------

.ea-image {
  background: url(../images/ea-rev.png) center center no-repeat, $gradient-red;
  background-size: contain;
}

.fal-image {
  background: url(../images/fal-rev.png) center center no-repeat, $gradient-red;
  background-size: contain;
}

.ibs-image {
  background: url(../images/ibs-rev.png) center center no-repeat, $gradient-red;
  background-size: contain;
}

.ir-image {
  background: url(../images/ir-rev.png) center center no-repeat, $gradient-red;
  background-size: contain;
}

.iwp-image {
  background: url(../images/iwp-rev.png) center center no-repeat, $gradient-red;
  background-size: contain;
}

.lc-image {
  background: url(../images/lc-rev.png) center center no-repeat, $gradient-red;
  background-size: contain;
}

.tp-image {
  background: url(../images/tp-rev.png) center center no-repeat, $gradient-red;
  background-size: contain;
}

.qlt9-image {
  background: url(../images/qlt9-rev.png) center center no-repeat, $gradient-red;
  background-size: contain;
}

.qlt11-image {
  background: url(../images/qlt11-rev.png) center center no-repeat, $gradient-red;
  background-size: contain;
}

.qlt12-image {
  background: url(../images/qlt12-rev.png) center center no-repeat, $gradient-red;
  background-size: contain;
}

.mixer-image {
  background: url(../images/mixer-header.jpg) center center no-repeat;
  background-size: cover;
}

.group-image {
  background: url(../images/index-image.jpg) center top no-repeat;
  background-size: cover;
}

.search-image {
  background: url(../images/search-rev.png) center center no-repeat, $gradient-purple;
  background-size: contain;
}
