// Lists

ul {
  list-style: disc outside;
}

article ul,
article ul {
  list-style: none inside;
  margin-left: 1em;
  padding-left: 1em;
  text-indent: -1em;
}

article nav ul li::before,
article nav ul li::before {
  content: '';
  padding-right: 0;
}

article ul li:before,
article ul li:before {
  color: $lx-orange;
  content: '\00BB';
  padding-right: 8px;
}

.back {
  cursor: pointer !important;
  padding: 2em 0 0 2em !important;
}

ol {
  list-style: decimal inside;
  margin-top: 0;
  padding-left: 0;
}

ul {
  margin-top: 0;
  padding-left: 0;

ul,
ol {
  font-size: 90%;
  margin: 1.5rem 0 1.5rem 3rem;
  }
}

ol {
  ol,
  ul {
    font-size: 90%;
    margin: 1.5rem 0 1.5rem 3rem;
  }
}

li {
  margin-bottom: .4rem;
}

.nice-ol {
  list-style-type: none;
  padding-left: 1.5rem;
  position: relative;
}

.nice-ol li {
  counter-increment: step-counter;
  margin-bottom: 8px;
}

.nice-ol li::last-child {
  margin-bottom: 0;
}

.nice-ol li::before {
  background-color: $lx-orange;
  border-radius: 3px;
  color: $lx-white;
  content: counter(step-counter);
  font-size: .5rem;
  font-weight: bold;
  left: 0;
  padding: .2rem .3rem;
  position: absolute;
}
