// Lists
//––––––––––––––––––––––––––––––––––––––––––––––––––


ul {
  list-style: disc outside;
}

.post-content ul, .page-content ul {
    list-style: none inside;
    text-indent: -1em;
    padding-left: 1em;
}

.post-content nav ul li:before, .page-content nav ul li:before {
    content: "";
    padding-right: 0px;
}

.post-content ul li:before, .page-content ul li:before {
    content: "»"; // Insert content that looks like bullets 
    padding-right: 8px;
    color: $lx-orange;
}
 
ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0;
}

ul {
  padding-left: 0;
  margin-top: 0;
ul, ol {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
  }
}

ol {
  ol, ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
  }
}

li {
  margin-bottom: 1rem;
}

.nice-ol {
	position: relative;
	padding-left: 32px;
	list-style-type: none;
}
.nice-ol li {
	counter-increment: step-counter;
	margin-bottom: 8px;
}
.nice-ol li:last-child {
	margin-bottom: 0;
}
.nice-ol li::before {
	content: counter(step-counter);
	position: absolute;
	left: 0;
	padding: 3px 8px;
	font-size: 0.8em;
	color: white;
	font-weight: bold;
	background-color: $lx-orange   ;
	border-radius: 3px;
}