// Logo
//==========================================================================

.logo {
  height: 150px;
  padding: 20px;
  text-align: center;
}

@media (min-width: 550px) {
  .logo {
    text-align: left;
}
}
