// Logo
//==========================================================================

.logo {
    padding: 20px;
    height: 150px;
    text-align: center;
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .logo {
        text-align: left;
    }    
    
}
