#clicker {
  margin-left: calc(-45vw + 50%);
  margin-right: calc(-45vw + 50%);
}

.mixer {
    width: 100hw; 
    height: 90vh; 
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    flex-flow: row;
    flex-wrap: wrap;
}
    
.col {
    border-right: 1px solid rgba(255,255,255,0.3);
    -webkit-flex: 1 ;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1 0 10%;
    -webkit-transition: 1s 0.25s;
    -moz-transition: 1s 0.25s;
    -ms-transition: 1s 0.25s;
    -o-transition: 1s 0.25s;
    transition: 1s 0.25s;
    background-color: #333;
    align-items: center;
    justify-content: center;
    padding: .5em;
    font-size: .8em;
    color: rgba(255,255,255,0.3);
    padding: 1em;
    min-height: 0;
    cursor:pointer;
}

.level-hover {
    -webkit-flex: 8;
    -moz-flex: 8;
    -ms-flex: 8;
    flex: 8;
    border: 0px 2px solid rgba(255,255,255,1);
    transition: 1s 0.25s;
    word-break: break-all;
} 
    

.col-hover {
    -webkit-flex: 8;
    -moz-flex: 8;
    -ms-flex: 8;
    flex: 8;
    background-color: transparent;
    padding: 1.2em;
    color: rgba(255,255,255,1);
}

.hcol {
    -webkit-flex: 0.5 ;
    -moz-flex: 0.5;
    -ms-flex: 0.5;
    flex: 0.5 0 4%; 
    text-align: center;
    font-weight: 600;
    color: #fff;
    align-items: center;
}     

.hcol h4 {
    transform: rotate(90deg);
    word-break: keep-all !important;
    padding: 1em 0em;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: -0.01em;
    color: rgba(255,255,255,0.8);
}

.col p {
    visibility: hidden;
    transition: 1s 0.25s;
    color: rgba(255,255,255,0.5);
}  

.col-hover p, {
    visibility: visible;
    transition: 0.25s;
    color: rgba(255,255,255,1);
    word-break: normal;
}

.col h4 {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    color: rgba(255,255,255,0.5);
    transition: 1s 0.25s;
    line-height: 1em;
}   

.col:hover h4, {
    font-weight: bold;
    color: rgba(255,255,255,1);
    word-break: normal;
    transition: 1s 0.25s;
}   

.col h3 {
    font-size: 1em;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: -0.01em;
    padding-top: 0.25em;
}  

.col-hover h3,  {
    word-break: normal;
} 

.img-mix {
    transform: scale(1);
    transition: 1s 0.25s;
    float: left;
    visibility: hidden;
    margin-bottom: 5em;
}

.col-hover .img-mix {
    transform: scale(1);
    max-width: 200px;
    visibility:visible;
    transition: 1s 0.25s;
}

.practices a {
    color: $lx-white;
}

.practices a:hover {
    color: $lx-dark-grey;
}

.tools a {
    color: $lx-white;
}

.tools a:hover {
    color: $lx-dark-grey;
}

/* this is a hack for IE10 and IE11 to animate the mixer 
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.level {
    min-height: 20px;
    max-height: 320px;
}
    
.col {
    min-width: 20px;
    max-width: 480px;
}
    
.level:hover {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 320px;
    max-height: 320px;
}
    
.col:hover {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 480px;
    max-width: 480px;
}
}*/