#for-mobile {
}

#thing {
  display: none;
  margin-left: calc(-45vw + 50%);
  margin-right: calc(-45vw + 50%);
}

#thing div, #thing p, #thing h4, #thing h3 {
  margin: 0px;
}

@media (#{$bp-larger-than-tablet}) {
#thing {
  display: block;
}

#for-mobile {
  display: none;
}
}


.mixer {
    width: 100%;
    height: 90vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.level, {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-transition: 1s 0.25s;
    -moz-transition: 1s 0.25s;
    -ms-transition: 1s 0.25s;
    -o-transition: 1s 0.25s;
    transition: 1s 0.25s;
    align-content:center;
    justify-content: center;
    min-height: 0;
    margin: 0px;
}

.level-head {
    -webkit-flex: 1.3;
    -moz-flex: 1.3;
    -ms-flex: 1.3;
    flex: 1.3;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    align-content:center;
    justify-content: center;
    min-height: 0;
    margin: 0px;
    border-bottom: 1px solid $lx-white;
}

.level:hover, .level:active {
    -webkit-flex: 3;
    -moz-flex: 3;
    -ms-flex: 3;
    flex: 3;
    border: 0px 2px solid rgba(255,255,255,1);
    transition: 1s 0.25s;
    word-break: break-all;
}

// .level-head:hover, .level-head:active {
//     -webkit-flex: 7;
//     -moz-flex: 7;
//     -ms-flex: 7;
//     flex: 7;
//     border: 0px 2px solid rgba(255,255,255,1);
//     transition: 1s 0.25s;
//     word-break: break-all;
// }

.col {
    //border-right: 1px solid rgba(255,255,255,0.3);
    -webkit-flex: 1 ;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-transition: 1s 0.25s;
    -moz-transition: 1s 0.25s;
    -ms-transition: 1s 0.25s;
    -o-transition: 1s 0.25s;
    transition: 1s 0.25s;
    background-color: #333;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: .5em;
    font-size: .5rem;
    color: rgba(255,255,255,0.3);
    padding: .6em;
    min-height: 0;
    margin: 0px;
}

.col:hover, .col:active {
    -webkit-flex: 5;
    -moz-flex: 5;
    -ms-flex: 5;
    flex: 5;
    background-color: transparent;
    padding: .6em;
    color: rgba(255,255,255,1);
}

.hcol {
    -webkit-flex: 0.5 ;
    -moz-flex: 0.5;
    -ms-flex: 0.5;
    flex: 0.5;
    text-align: center;
    font-weight: bold;
    color: #fff;
    align-items: center;
    margin: 0px;
}

.hcol h4 {
    transform: rotate(90deg);
    word-break: keep-all !important;
    font-size: .4rem;
    text-transform: uppercase;
    letter-spacing: -0.01em;
    color: rgba(255,255,255,0.8);
    margin-top: 1rem !important;
}

.col p {
    visibility: hidden;
    transition: 1s 0.25s;
    color: rgba(255,255,255,0.5);
    text-align: left;
}

.col:hover p, .col:active p {
    visibility: visible;
    transition: 0.25s;
    color: rgba(255,255,255,1);
    word-break: normal;
    padding-top: 1em;
}

.col h4 {
    font-size: .45rem;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    color: rgba(255,255,255,0.5);
    transition: 1s 0.25s;
    line-height: 1em;
}

.col:hover h4, .col:active h4 {
    font-weight: bold;
    color: rgba(255,255,255,1);
    word-break: normal;
    padding-bottom: .6em;
    border-bottom: 1px solid;
    text-align: left;
}

.col h3 {
    font-size: .5rem;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: -0.01em;
    padding-top: 0.25em;
    border: 0;
}

.col:hover h3, .col:active h3 {
    word-break: normal;
    border-bottom: 1px solid;
}

.img-mix {
    transform: scale(1);
    transition: 1s 0.25s;
    float: left;
    margin-bottom: .5rem;
    max-width: 200px;
}

.col:hover .img-mix {
    transform: scale(1);
    max-width: 200px;
    visibility:visible;
    transition: 1s 0.25s;
}

.img-head {
}

.practices a {
    color: $lx-white;
}

.practices a:hover {
    color: $lx-dark-grey;
}

.tools a {
    color: $lx-white;
}

.tools a:hover {
    color: $lx-dark-grey;
}

/* this is a hack for IE10 and IE11 to animate the mixer
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.level {
    min-height: 20px;
    max-height: 320px;
}

.col {
    min-width: 20px;
    max-width: 480px;
}

.level:hover {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 320px;
    max-height: 320px;
}

.col:hover {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 480px;
    max-width: 480px;
}
}*/

// Headers


.headings h3 {
    font-size: .4rem;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: -0.01em;
    padding-top: 0.25em;
    border: 0;
}

.headings {
    //border-right: 1px solid rgba(255,255,255,0.3);
    -webkit-flex: 1 ;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-transition: 1s 0.25s;
    -moz-transition: 1s 0.25s;
    -ms-transition: 1s 0.25s;
    -o-transition: 1s 0.25s;
    transition: 1s 0.25s;
    background-color: #333;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: .5em;
    font-size: .5rem;
    color: rgba(255,255,255,0.3);
    margin: 0px;
}
