// Navigation
//==========================================================================

nav {
  margin-top: -6px;
  text-align: center;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  font-family: $header-font !important;
  font-weight: lighter;
  list-style: none !important;
  margin: 0;
  padding: 0;
}

nav li{
  background: -moz-linear-gradient(top,  #444 0%, #333333 39%, #333333 39%);
  background: -webkit-linear-gradient(top,  #444 0%,#333333 39%,#333333 39%);
  background: linear-gradient(to bottom,  #444 0%,#333333 39%,#333333 39%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444', endColorstr='#333333',GradientType=0 );
  background: $lx-dark-grey;
  flex-grow: 1;
  min-width: 40vw;
  max-width: 100vw;
  margin: 0;
  border-right: 1px solid rgba(255, 255, 255, .5);
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  box-sizing: border-box;
}

nav a {
  color: $lx-white;
  display: block;
  font-size: .775rem;
  padding: .8rem 0;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  background-color: rgba(215, 31, 133, .8);
  color: $lx-white;
}

// Larger than phablet (also point when grid becomes active) //
@media (#{$bp-larger-than-phablet}) {

  nav li:nth-child(n) {
    flex-grow: 1;
    min-width: 20vw;
}

  nav a {
    font-size: .6rem;
    padding: .5rem 0;
}
}

.navclass:before,
.navclass:after {
  content: ' ';
  display: table;
}

.navclass:after {
  clear: both;
}
