// Navigation
//==========================================================================

nav {
  text-align: center;
  margin-top: -6px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none !important;
  margin: 0px 0px;
  padding: 0;
  font-family: $header-font !important;
  font-weight: lighter;
}

nav li{
    flex-grow: 1;
    min-width: 40vw;
    max-width: 100vw;
    margin: 0px 0px;
    border-right: 1px solid rgba(255,255,255,.5);
    border-bottom: 1px solid rgba(255,255,255,.5);
    box-sizing: border-box;
    background: $lx-dark-grey;
    background: -moz-linear-gradient(top,  #444 0%, #333333 39%, #333333 39%);
    background: -webkit-linear-gradient(top,  #444 0%,#333333 39%,#333333 39%);
    background: linear-gradient(to bottom,  #444 0%,#333333 39%,#333333 39%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444', endColorstr='#333333',GradientType=0 );
}

nav a {
  color: #fff;
  text-decoration: none;
  text-transform:uppercase;
  display: block;
  padding: .8rem 0px;
  font-size: .775rem;
}

nav a:hover {
    background-color: rgba(215,31,133,0.8);
    color: #fff;
}

/* Larger than phablet (also point when grid becomes active) */
@media (#{$bp-larger-than-phablet}) {

nav li:nth-child(n) {
//  width: 20%;
  flex-grow: 1;
  min-width: 20vw;
}

nav a {
    padding: .5rem 0px;
    font-size: .6rem;
}

}
.navclass:before,
.navclass:after {
    content: " "; /* 1 */
    display: table; /* 1 */
}
.navclass:after {
    clear: both;
}
