.page-nav {
  background: $gradient-light-grey;
  color: $lx-dark-grey;
  font-family: $header-font !important;
  font-size: 1em;
  font-weight: lighter;
  margin: -5%;
  padding: 1em 0 3em 1em;
  width: 105%;
}

@media (#{$bp-larger-than-tablet}) {
  .page-nav {
    background: $gradient-light-grey;
    color: $lx-dark-grey;
    font-size: .7em;
    margin: 0;
    padding: 1em 0 9em 1em;
}
}

  .page-nav h4 {
    border-bottom: 1px solid $lx-orange;
    color: $lx-orange;
    font-size: .9em;
    font-weight: bold;
}

  .page-nav ul {
    list-style: none !important;
    margin: 0;
    padding: 0;
    text-indent: 0;
}

.page-nav ul ul li a::before {
  color: $lx-orange;
  content: '\2013'; // Insert content that looks like bullets
  margin-left: 5px;
  padding-right: .3rem;
}

.page-nav ul ul li a:before:hover {
  color: $lx-white;
}

.page-nav ul li{
  box-sizing: border-box;
  margin: 0;
  padding: .2rem;
}

.page-nav a {
  color: lighten($lx-dark-grey, 15%);
  display: block;
  padding: .1rem;
  text-decoration: none;
}

.page-nav a:hover {
  background-color: $lx-blue !important;
  color: $lx-white;
}

.active-item {
  border-left: 2px solid $lx-orange;
  color: $lx-orange;
  font-style: italic;
}
