.post-content h3 {
    font-size: 1em;
    background: $lx-light-grey;
    color: $lx-orange;
    padding: 1em;
}

.post-content h4 {
    font-size: 1em;
    font-weight: bold;
    margin-left: 2em;
}

.post-content p {
    margin-left: 2em;
}

.post-content ul {
    margin-left: 2em;
    text-indent: -1em;
    padding-left: 1em;
}

blockquote {
    border-left: 4px solid $lx-orange;
}

blockquote p {
    font-style: italic;
    color: $lx-dark-grey;
    font-size: 1.1em;
}