// Post Specific Styles
//==========================================================================

.post-content h3 {
  font-size: 1em;
  background: $lx-light-grey;
  color: $lx-orange;
  padding: 1em;
  margin-bottom: 2rem;
}

.post-content h4 {
    font-size: 1em;
    font-weight: bold;
    margin-left: 2rem;
}

blockquote {
    border-left: 4px solid $lx-orange;
    padding: .5em 0;
}

blockquote p {
  color: $lx-dark-grey;
  font-size: 1.1em;
  font-style: italic;
  margin: 1em;
}

// .post-content .apa-ref, .page-content .apa-ref {
//      padding-left:1em;
//      margin-left:1em;
// }
