// Spacing
//==========================================================================

button,
.button {
  margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset {
  margin-bottom: 1.2rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 1.2rem;
}

.post {
    margin-top: 1rem;
    min-height: 90vh;
}

.extra-top-padding {
    padding-top: 1.5rem;
}

.extra-bottom-padding {
    padding-bottom: 1.5rem;
}

.extra-padding {
  padding-top: 1.5rem;
  padding-top: 1.5rem;
}

.sml-margin-top {
  margin-top: 1rem;
}
