.tile-icons {
    display: -webkit-box;  
    display: -webkit-flex;
    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    justify-content: center;
}

.tiles {
    text-align: center;
    width: 22%;
    border-radius: 5px;
    padding: 0.5%;
    margin:0.5em;
}

.tiles a {
    display: block;
    text-decoration: none;
}

.tiles:hover {
    background-color: $lx-purple;
}

.tiles h4 {
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: $lx-white;
}

/* Tablet */
@media (max-width: 800px) {
  .tiles {  
    width: 30%;
    }
    .tiles h4 {
        font-size: 1.1rem;
        line-height: 1.1rem
    }    
}

/* Mobile */
@media (max-width: 480px) {
  .tiles {  
    width: 45%;
    }
}
