// Video Container
//==========================================================================

.image-container {
    width: 100%;
    box-sizing: border-box;
}

.image-container img {
    width: 100%;
}


.media {
  // max-width: 500px;
  // width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.media__flex {
  align-items: center;
  justify-content: center;
}

.media__video {

  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  width: 100%;
  overflow: hidden;
  background: gray;
}
.media__video iframe, .media__video object, .media__video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
