{% include swiper.html url1="Managing-discussion-forums-EED408-1.jpg" url2="Managing-discussion-forums-EED408-2.jpg" %}

{% include swiper.html url1="social-media-INF530-1.jpg" url2="social-media-INF530-2.jpg" url3="social-media-INF530-3.jpg" url4="social-media-INF530-4.jpg" %}

{% include swiper.html url1="Blogging-INF1.jpg" url2="Blogging-INF2.jpg" %}

{% include swiper.html url1="Collaborative-Group-Projects-1.png" url2="Collaborative-Group-Projects-2.png" %}

{% include swiper.html url1="Feedback-Learning-Commentary-2.png" url2="Feedback-Learning-Commentary-3.png" url3="Feedback-Learning-Commentary-4.jpg" %}

{% include swiper.html url1="Photographs-Relatable-Images-2.png" url2="Photographs-Relatable-Images-3.png" %}

{% include swiper.html url1="Reflective-Journals-1.png" url2="Reflective-Journals-2.png" %}

{% include swiper.html url1="Simulations-2.png" url2="Simulations-1.png" %}

{% include swiper.html url1="social-media-INF530-1.jpg" url2="social-media-INF530-2.jpg" url3="social-media-INF530-3.jpg" url4="social-media-INF530-4.jpg" %}

{% include swiper.html url1="Student-ePortfolios-ETL1.jpg" url2="Student-ePortfolios-ETL2.jpg" %}

{% include swiper.html url1="Successful-Announcements-1.jpg" url2="Successful-Announcements-2.jpg" %}

{% include swiper.html url1="Tone-of-Communication-1.png" url2="Tone-of-Communication-2.png" %}
