---

---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width" initial-scale="1">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <style type="text/css">
    {% capture include_to_scssify %}
      {% include onepage.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>

</head>
  <body>

<article>
    {{ content }}
</article>


  </body>

</html>
