---
layout: default
---

<div class="hero u-release h-gradient-orange">
        <h1>{{ page.title }}</h1>
</div>

<div class="page-content">

<article class="content-full" >
  <a onclick="window.history.back()"><button class="back-button">Back</button></a>
  <p class="post-meta blue"><em>{% if page.description %} {{ page.description }}{% endif %}</em></p>

  <h3>Overview</h3>
  {{ page.overview | markdownify }}

  <h3>Engagement</h3>
  {{ page.engagement | markdownify }}

  <h3> In Practice</h3>
    <div class="u-release practice" >

    {% for item in page.practice %}
      <div class="practice-item">
    <h4>Subject</h4>
    <p>{{ item.subject_code }} {{ item.subject_name }}</p>

    <h4>Teaching Staff</h4>
    <p>
      {{ item.teaching_staff }}</p>

    <h4>Motivation</h4>
    {{ item.motivation | markdownify }}

    <h4>Implementation</h4>
    {{ item.implementation | markdownify }}

    <!--  Media -->
    {% for item in item.video %}
      {% include youtubePlayer.html id="{{ item }}" %}
    {% endfor %}

    {% for image in item.image %}
      <img alt="{{ image.title }}" src="../images/practices/{{ image.file }}" class="u-full-width">
    {% endfor %}

    {% if item.gallery != nil %}
      {% include swiper.html url1="Blogging-INF1.jpg" url2="Blogging-INF2.jpg" %}
    {% endif %}

  </div>
    {% endfor %}
  </div>
  <h3>Guide</h3>
  {{ page.guide | markdownify }}

  <h3>Tools</h3>
  {{ page.tools | markdownify }}

  <h3>Additional Resources</h3>
  <div class="apa-ref">
    {% for item in page.resources %}
    <p>{{item | markdownify }}</p>
    {% endfor %}
  </div>

</article>

</div>
