// Base Styles
// ==========================================================================


// Responsive Type
// ==========================================================================

$line-height: calc(1.3em + (1.5 - 1.3) * ((100vw - 21em)/(35 - 21)));

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 30px;

$mod_1: 1.1; // mobile
$mod_2: 1.4; // desktop

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

body {
  font-size: 0.775rem; // currently ems cause chrome bug misinterpreting rems on body element
  font-family: $body-font;
  font-weight: 400;
  color: $font-color;
  overflow-x: hidden;
}

article {
  max-width: 98%;
  margin: auto;
}

section {
  max-width: 98%;
  margin: auto;
}


@media (#{$bp-larger-than-tablet}) {

article {
  max-width: 37em;
  margin: auto;
}

section {
  max-width: 55em;
  margin: auto;
}

}


// Links
//==========================================================================

a {
    color: $lx-blue;
    transition: all 0.2s ease;
    text-decoration: none;
}

a:hover {
    color: $lx-pink;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: $lx-white;
}


// Misc
//==========================================================================

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid $light-grey;
}

// Gradient Animation Settings
//==========================================================================

.gradient {
    background: $long-gradient;
    background-size: 1600% 1600%;
    -webkit-animation: LX-Background 120s linear alternate infinite;
    -moz-animation: LX-Background 120s linear alternate infinite;
    animation: LX-Background 120s linear alternate infinite;
}

@-webkit-keyframes LX-Background {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes LX-Background {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes LX-Background {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
