// Typography
//==========================================================================

h1, h2, h3, h4, h5, h6 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-family: $header-font;
  font-weight: 300;
}

h1 { font-size: 2.2rem; line-height: $line-height; }
h2 { font-size: 2.0rem; line-height: $line-height; letter-spacing: -.1rem;  }
h3 { font-size: 1.8rem; line-height: $line-height;  letter-spacing: -.1rem;  }
h4 { font-size: 1.6rem; line-height: $line-height; letter-spacing: -.08rem; }
h5 { font-size: 1.4rem; line-height: $line-height;  letter-spacing: -.05rem; }
h6 { font-size: 1.2rem; line-height: $line-height;  letter-spacing: 0;       }

// Larger than phablet
@media (#{$bp-larger-than-phablet}) {
  h1 { font-size: 2.0rem; }
  h2 { font-size: 1.8rem; }
  h3 { font-size: 1.4rem; }
  h4 { font-size: 1.2rem; }
  h5 { font-size: 1.0rem; }
  h6 { font-size: 1.0rem; }
}

p {
  margin-top: 0;
}

h3 {
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    color: $lx-orange;
}

h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.center {
    text-align: center;
}

.button {
  font-family: $header-font;
}

.sml-headings h4, .sml-headings h3 {
  font-size: .7rem;
  margin: 0px;
}
