// Typography
//==========================================================================

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
  font-weight: 300;
  margin-bottom: .5rem;
  margin-top: 2rem;
}

h1 { font-size: 2.2rem; line-height: $line-height; }
h2 { font-size: 2rem; letter-spacing: -.1rem; line-height: $line-height; }
h3 { font-size: 1.8rem; letter-spacing: -.1rem; line-height: $line-height; }
h4 { font-size: 1.6rem; letter-spacing: -.08rem; line-height: $line-height;}
h5 { font-size: 1.4rem; letter-spacing: -.05rem; line-height: $line-height;}
h6 { font-size: 1.2rem; letter-spacing: 0;  line-height: $line-height;}

// Larger than phablet
@media (#{$bp-larger-than-phablet}) {
  h1 { font-size: 2rem; }
  h2 { font-size: 1.7rem; }
  h3 { font-size: 1.4rem; }
  h4 { font-size: 1.2rem; }
  h5 { font-size: 1rem; }
  h6 { font-size: 1rem; }
}

p {
  margin-top: 0;
}

h3 {
  border-bottom: 1px solid;
  color: $lx-orange;
  letter-spacing: 1px;
  line-height: 1;
  padding-bottom: 10px;
  text-transform: uppercase;
}

h4 {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.button {
  font-family: $header-font;
}

.sml-headings h4,
.sml-headings h3 {
  font-size: .7rem;
  margin: 0;
}
